<%- model_class = User -%>
<div class="page-header">
    <% if request.fullpath == '/signup' %>
        <h1>Sign up!</h1>
    <% else %>
        <h1><%=t '.title', :default => ['New %{model}'], :model => model_class.model_name.human.titleize %></h1>
    <% end %>
</div>
<%= render :partial => 'form' %>
