<p>
  The time is now: <%= Time.now %>
</p>
<p>
  There are <%= @num_records %> number of records in the database.
  Heroku database limit is 10k records for hobby-dev Postgres databases.
</p>

<select class="select2">
    <option value="AL">Alabama</option>
    <option value="WY">Wyoming</option>
</select>