<p>
    <% if session[:user_id] %>
        <%= link_to 'Menu', controller: :access, action: :index %>
    <% else %>
        <%= link_to 'Login', controller: :access, action: :login %>
    <% end %>
</p>

<p>
  The time is now: <%= Time.now %>
</p>
<p>
  There are <%= @num_records %> number of records in the database.
  Heroku database limit is 10k records for hobby-dev Postgres databases.
</p>